In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4,5,6])
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [8]:
s1 = pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [9]:
pd.Series({'a':10, 'b':20, 'c':30, 'd':40})

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
pd.Series({'a':10, 'b':20, 'c':30, 'd':40}, index=['e','a','b','c'])

e     NaN
a    10.0
b    20.0
c    30.0
dtype: float64

In [12]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

4

In [13]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [14]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

NameError: name 'l1' is not defined

In [3]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])

In [4]:
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [5]:
s1 + 10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [6]:
s1 - 100

0   -99
1   -98
2   -97
3   -96
4   -95
5   -94
6   -93
7   -92
8   -91
dtype: int64

In [7]:
s1 * 132

0     132
1     264
2     396
3     528
4     660
5     792
6     924
7    1056
8    1188
dtype: int64

In [8]:
s1 + s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [9]:
s1 / 12

0    0.083333
1    0.166667
2    0.250000
3    0.333333
4    0.416667
5    0.500000
6    0.583333
7    0.666667
8    0.750000
dtype: float64

In [10]:
s1 + s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [13]:
pd.DataFrame({'Name':['Anne', 'Bob','Matt'], 'Make':[75,12,28]})

   Name  Make
0  Anne    75
1   Bob    12
2  Matt    28

In [15]:
oscp = pd.read_csv('Dataset/oscp.csv')

In [16]:
oscp.head()

,Name,Email,Mobile no,LinkedIn URL,Github URL,Choose category,Tell as about your self ?,College Name,Submitted At,Token
0,Praveen Kumar Purushothaman,praveenscience@gmail.com,447405708485,https://www.linkedin.com/in/praveentech/,https://github.com/praveenscience,Front-end Developer ( React.JS Knowleage),"Mentor (Careers, Personal, Full Stack Web Deve...",NaN,5/4/2020 13:32:41,dbml2zwkkiarnnqakt2nudbml2zr3mz2
1,Mrunal Kakirwar,mrunal.kakirwar@cumminscollege.edu.in,919637996865,https://www.linkedin.com/in/mrunal-kakirwar-24...,https://Mrunal.Kakirwar,"Back-end Developer ( Node.JS , REST API ,Fire...",I am final year computer Engineering student,Cummins college of engineering for women,5/4/2020 13:38:49,y4438ees7r0u4bhy4n9pp8yf3qc328tn
2,Abhinavan Roy,abhinavan2772@gmail.com,919511840787,https://www.linkedin.com/in/abhinavan-roy,https://github.com/abhinavanRoy,"Back-end Developer ( Node.JS , REST API ,Fire...",I am a tech enthusiast who loves to code and m...,"SRM Institute of Science and Technology, Ramap...",5/4/2020 13:40:26,p3f231bn6yq98b8p3f2hr2id8kkem627
3,Pawan Singhla,pawansinghla300@gmail.com,917895848767,https://www.linkedin.com/in/pawansinghla300/,https://github.com/Pawansinghla,Front-end Developer ( React.JS Knowleage),I am 3rd year Btech student at UIET Kurukshetra.,University Institute of Engineering & Technolo...,5/4/2020 13:40:27,fm3nre9rr0f2upix6sy5ifm3nhjwx0xm
4,Katakam Nikhilesh,nikhileshkatakam1@gmail.com,918688163335,https://www.linkedin.com/in/nikhilesh-katakam-...,https://github.com/NikhileshKatakam,"Back-end Developer ( Node.JS , REST API ,Fire...",I was pursuing cse 3rd year I love to learn an...,R.V.R & J.C college of Engineering,5/4/2020 13:36:49,ka86br2y1lv056ka86bfik1pb649gk71

In [17]:
oscp.tail()

,Name,Email,Mobile no,LinkedIn URL,Github URL,Choose category,Tell as about your self ?,College Name,Submitted At,Token
209,Yash patel,yashp2928@gmail.com,919768960189,https://www.linkedin.com/in/yash-patel-22546a191,https://github.com/ryuk156,"Front-end Developer ( React.js, Vue.js, Next.j...",I'm Yash patel perusing b.sc computer science...,Thakur college of commerce and science,8/2/2020 8:43:12,njtro0t1itswrzns8mg9cclpnjtro0t1
210,Sparsh Sihotiya,sparshsihotiya@gmail.com,918529434655,https://www.linkedin.com/in/sparshs413,https://github.com/sparshs413,"Front-end Developer ( React.js, Vue.js, Next.j...",I am a Second-Year undergraduate student at II...,IIT Kanpur,8/2/2020 9:05:30,5rb4g2nqaicr19a25rb4g2nour89tknl
211,Garima Singh,garingh128@gmail.com,918218152661,https://www.linkedin.com/in/garima-singh-34042...,https://github.com/garimasingh128,UI/UX Web Designer,I am Garima Singh. I consider myself as a smar...,NIT Patna,8/3/2020 22:42:59,zrmcpkwedh4m78kxg63zrmwc50dkjddr
212,Chand Bud,chandbud5@gmail.com,918758079341,https://www.linkedin.com/in/chandbud5,https://github.com/chandbud5,"Back-end Developer ( Node.JS , REST API ,Fire...",I'm a Web developer and datascience enthusiast,Parul University,8/4/2020 9:08:00,4qyn3qvik0n62vmsyz4qyn3qvex8arbn
213,Salha Salman,salhasalman4@gmail.com,94778149339,https://www.linkedin.com/mwlite/in/salha-salma...,https://github.com/salhasalman,"Back-end Developer ( Node.JS , REST API ,Fire...",I'm an undergraduate of University of Moratuwa,University of Moratuwa,8/4/2020 13:43:59,a03wsxbp8vi8yx2cdqa03wsi8vhy66ca

In [18]:
oscp.shape

(214, 10)

In [19]:
oscp.describe()

          Mobile no
count  2.140000e+02
mean   1.179486e+12
std    1.444811e+12
min    6.582573e+09
25%    9.179832e+11
50%    9.187845e+11
75%    9.196141e+11
max    9.779814e+12

In [22]:
oscp.iloc[0:8,0:5]

,Name,Email,Mobile no,LinkedIn URL,Github URL
0,Praveen Kumar Purushothaman,praveenscience@gmail.com,447405708485,https://www.linkedin.com/in/praveentech/,https://github.com/praveenscience
1,Mrunal Kakirwar,mrunal.kakirwar@cumminscollege.edu.in,919637996865,https://www.linkedin.com/in/mrunal-kakirwar-24...,https://Mrunal.Kakirwar
2,Abhinavan Roy,abhinavan2772@gmail.com,919511840787,https://www.linkedin.com/in/abhinavan-roy,https://github.com/abhinavanRoy
3,Pawan Singhla,pawansinghla300@gmail.com,917895848767,https://www.linkedin.com/in/pawansinghla300/,https://github.com/Pawansinghla
4,Katakam Nikhilesh,nikhileshkatakam1@gmail.com,918688163335,https://www.linkedin.com/in/nikhilesh-katakam-...,https://github.com/NikhileshKatakam
5,Jasbir,shikhawat.jasbir@gmail.com,918375836278,https://www.linkedin.com/in/jasbir-shikhawat,https://github.com/JasbirCodeSpace
6,Anush Bhatia,anushbhatia1234@gmail.com,917405815507,https://www.linkedin.com/in/anush-bhatia-aa500...,https://github.com/anushbhatia
7,Garima Singh,garingh128@gmail.com,918218152661,https://www.linkedin.com/in/garima-singh-34042...,https://github.com/garimasingh128

In [25]:
oscp.loc[1:5,('Email','Mobile no')]

                                   Email     Mobile no
1  mrunal.kakirwar@cumminscollege.edu.in  919637996865
2                abhinavan2772@gmail.com  919511840787
3              pawansinghla300@gmail.com  917895848767
4            nikhileshkatakam1@gmail.com  918688163335
5             shikhawat.jasbir@gmail.com  918375836278

In [26]:
oscp.head()

,Name,Email,Mobile no,LinkedIn URL,Github URL,Choose category,Tell as about your self ?,College Name,Submitted At,Token
0,Praveen Kumar Purushothaman,praveenscience@gmail.com,447405708485,https://www.linkedin.com/in/praveentech/,https://github.com/praveenscience,Front-end Developer ( React.JS Knowleage),"Mentor (Careers, Personal, Full Stack Web Deve...",NaN,5/4/2020 13:32:41,dbml2zwkkiarnnqakt2nudbml2zr3mz2
1,Mrunal Kakirwar,mrunal.kakirwar@cumminscollege.edu.in,919637996865,https://www.linkedin.com/in/mrunal-kakirwar-24...,https://Mrunal.Kakirwar,"Back-end Developer ( Node.JS , REST API ,Fire...",I am final year computer Engineering student,Cummins college of engineering for women,5/4/2020 13:38:49,y4438ees7r0u4bhy4n9pp8yf3qc328tn
2,Abhinavan Roy,abhinavan2772@gmail.com,919511840787,https://www.linkedin.com/in/abhinavan-roy,https://github.com/abhinavanRoy,"Back-end Developer ( Node.JS , REST API ,Fire...",I am a tech enthusiast who loves to code and m...,"SRM Institute of Science and Technology, Ramap...",5/4/2020 13:40:26,p3f231bn6yq98b8p3f2hr2id8kkem627
3,Pawan Singhla,pawansinghla300@gmail.com,917895848767,https://www.linkedin.com/in/pawansinghla300/,https://github.com/Pawansinghla,Front-end Developer ( React.JS Knowleage),I am 3rd year Btech student at UIET Kurukshetra.,University Institute of Engineering & Technolo...,5/4/2020 13:40:27,fm3nre9rr0f2upix6sy5ifm3nhjwx0xm
4,Katakam Nikhilesh,nikhileshkatakam1@gmail.com,918688163335,https://www.linkedin.com/in/nikhilesh-katakam-...,https://github.com/NikhileshKatakam,"Back-end Developer ( Node.JS , REST API ,Fire...",I was pursuing cse 3rd year I love to learn an...,R.V.R & J.C college of Engineering,5/4/2020 13:36:49,ka86br2y1lv056ka86bfik1pb649gk71

In [27]:
oscp.drop('Token',axis=1)

,Name,Email,Mobile no,LinkedIn URL,Github URL,Choose category,Tell as about your self ?,College Name,Submitted At
0,Praveen Kumar Purushothaman,praveenscience@gmail.com,447405708485,https://www.linkedin.com/in/praveentech/,https://github.com/praveenscience,Front-end Developer ( React.JS Knowleage),"Mentor (Careers, Personal, Full Stack Web Deve...",NaN,5/4/2020 13:32:41
1,Mrunal Kakirwar,mrunal.kakirwar@cumminscollege.edu.in,919637996865,https://www.linkedin.com/in/mrunal-kakirwar-24...,https://Mrunal.Kakirwar,"Back-end Developer ( Node.JS , REST API ,Fire...",I am final year computer Engineering student,Cummins college of engineering for women,5/4/2020 13:38:49
2,Abhinavan Roy,abhinavan2772@gmail.com,919511840787,https://www.linkedin.com/in/abhinavan-roy,https://github.com/abhinavanRoy,"Back-end Developer ( Node.JS , REST API ,Fire...",I am a tech enthusiast who loves to code and m...,"SRM Institute of Science and Technology, Ramap...",5/4/2020 13:40:26
3,Pawan Singhla,pawansinghla300@gmail.com,917895848767,https://www.linkedin.com/in/pawansinghla300/,https://github.com/Pawansinghla,Front-end Developer ( React.JS Knowleage),I am 3rd year Btech student at UIET Kurukshetra.,University Institute of Engineering & Technolo...,5/4/2020 13:40:27
4,Katakam Nikhilesh,nikhileshkatakam1@gmail.com,918688163335,https://www.linkedin.com/in/nikhilesh-katakam-...,https://github.com/NikhileshKatakam,"Back-end Developer ( Node.JS , REST API ,Fire...",I was pursuing cse 3rd year I love to learn an...,R.V.R & J.C college of Engineering,5/4/2020 13:36:49
...,...,...,...,...,...,...,...,...,...
209,Yash patel,yashp2928@gmail.com,919768960189,https://www.linkedin.com/in/yash-patel-22546a191,https://github.com/ryuk156,"Front-end Developer ( React.js, Vue.js, Next.j...",I'm Yash patel perusing b.sc computer science...,Thakur college of commerce and science,8/2/2020 8:43:12
210,Sparsh Sihotiya,sparshsihotiya@gmail.com,918529434655,https://www.linkedin.com/in/sparshs413,https://github.com/sparshs413,"Front-end Developer ( React.js, Vue.js, Next.j...",I am a Second-Year undergraduate student at II...,IIT Kanpur,8/2/2020 9:05:30
211,Garima Singh,garingh128@gmail.com,918218152661,https://www.linkedin.com/in/garima-singh-34042...,https://github.com/garimasingh128,UI/UX Web Designer,I am Garima Singh. I consider myself as a smar...,NIT Patna,8/3/2020 22:42:59
212,Chand Bud,chandbud5@gmail.com,918758079341,https://www.linkedin.com/in/chandbud5,https://github.com/chandbud5,"Back-end Developer ( Node.JS , REST API ,Fire...",I'm a Web developer and datascience enthusiast,Parul University,8/4/2020 9:08:00
213,Salha Salman,salhasalman4@gmail.com,94778149339,https://www.linkedin.com/mwlite/in/salha-salma...,https://github.com/salhasalman,"Back-end Developer ( Node.JS , REST API ,Fire...",I'm an undergraduate of University of Moratuwa,University of Moratuwa,8/4/2020 13:43:59

In [ ]:
oscp.drop[()]